{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": [
        "react-native-paper/babel"
      ]
    },
    "production": {
      "plugins": [
        "react-native-paper/babel"
      ]
    }
  }
}
